/* GLOBAL RESET */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: clip !important;
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */
nav {
    width: 100%;
    min-height: 90px;
    /* background: #1b1938; */
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #2a284e;
    padding: 20px 0;
    font-family: "Montserrat", sans-serif;
}

.logo {
    height: 110px;
    cursor: pointer;
    /* border: 2px solid blue; */
}

#check {
    position: absolute;
    opacity: 0;
}

.CheckBtn {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: linear-gradient(to right, #654ea3, #eaafc8);
    line-height: 80px;
}

/* NAV LINKS */
.list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    transition: all 0.3s ease-in;
    /* border: 2px solid green; */
}

.list li {
    margin: 0 20px;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.3s ease;
    /* border: 2px solid gold; */
}

.list li:hover {
    transform: translateY(-5px);
}

.list li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    /* color: #6b6686; */
    color: #121019;
    transition: color 0.3s ease;
}

.list li a:hover {
    color: #b6abf7;
}

.list li a i {
    margin-right: 10px;
}

/* HOME SECTION IS HERE */
#home {
    padding: 80px 0px;
    background: #1b1938;
    color: #ddd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    /* border: 2px solid white; */
}

.hero {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1 1 420px;
    max-width: 480px;
    color: #ddd;
}

.subtext {
    font-size: 0.85rem;
    color: #9a94b8;
    margin-bottom: 8px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.hero-text h1 {
    font-size: 2.8rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 0 0 15px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.hero-text p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: #8781a3;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
}

.btn-primary {
    margin-bottom: 40px;
    border: none;
    padding: 14px 38px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-primary a {
    text-decoration: none;
    color: #121019;
}

.btn-primary:hover {
    background: #a499e6;
}

.user-rating {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.8rem;
    color: #8781a3;
    line-height: 1.3;
    font-family: 'Inter', sans-serif;
}

.user-avatars {
    display: flex;
    align-items: center;
    position: relative;
}

.user-avatars img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2.5px solid #1b1938;
    object-fit: cover;
    margin-left: -12px;
    box-shadow: 0 0 0 2px #1b1938;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.user-avatars img:first-child {
    margin-left: 0;
}

.user-avatars img:hover {
    transform: scale(1.2);
    z-index: 10;
}

.extra-users {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #665bd6;
    color: #ddd;
    font-weight: 600;
    font-size: 0.8rem;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2.5px solid #1b1938;
    margin-left: -12px;
    box-shadow: 0 0 0 2px #1b1938;
}

.user-rating-text strong {
    color: #ddd;
}

.user-rating-text a {
    text-decoration: none;
    color: #8781a3;
}

.user-rating-text a:hover {
    font-weight: bold;
    color: rgb(255, 192, 75)
}

/* Hero cards container */
.hero-cards {
    flex: 1 1 400px;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
    margin-top: 40px;
    /* border: 2px solid wheat; */
}

.hero-cards img {
    width: 500px;
}

/* Card base */
.card {
    width: 320px;
    height: 190px;
    border-radius: 18px;
    color: #ccc;
    font-weight: 600;
    position: relative;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 0 7px rgba(102, 91, 214, 0.3);
    /* border: 2px solid yellowgreen; */
}

.card-front {
    width: 320px;
    height: 190px;
    background: #121019;
    color: #b2b0de;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 25px #645bd6c0;
    transform: rotate(-15deg);
    z-index: 10;
}

/* Chip in front card */
.chip {
    width: 50px;
    height: 36px;
    background: linear-gradient(135deg, #a799e0 0%, #8d7fd6 100%);
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 1px 8px #645bd6c0;
}

/* Card front texts */

.card-front .card-number {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #ddd;
    font-weight: 600;
}

.card-front .card-brand {
    font-size: 1.7rem;
    letter-spacing: 0.09em;
    color: #b6abf7;
    font-weight: 700;
}

.card-logo {
    font-weight: 800;
    font-size: 1.2rem;
    color: #ccc;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 15px;
    line-height: 1.15;
}

.card-logo small {
    font-size: 0.5rem;
    font-weight: 600;
    display: block;
    margin-left: 3px;
    color: #bbb7e0;
}

/* Back card */
.card-back {
    background: linear-gradient(140deg, #121019, #2b2750);
    box-shadow: 0 0 30px #594dc1aa;
    border-radius: 18px;
    padding: 20px 25px 30px;
    color: #bbb7e0;
    transform: rotate(-10deg);
    position: relative;
    z-index: 5;
    width: 320px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.85rem;
    font-weight: 600;
}

.black-strip {
    background: #2a2943;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.signature-strip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8781a3;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.signature-box {
    background: #3a355c;
    height: 26px;
    width: 180px;
    border-radius: 4px;
    box-shadow: inset 0 0 5px #48446a;
}

.card-info {
    font-weight: 600;
    color: #dad7ffdd;
}

.card-info .card-number {
    letter-spacing: 0.15em;
    font-size: 1rem;
    margin-bottom: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 120px;
    font-weight: 600;
    font-size: 0.8rem;
    color: #aaa7b9;
    margin-bottom: 12px;
}

/* Disclaimer text on back card */
.disclaimer {
    font-size: 0.65rem;
    color: #63607f;
    line-height: 1.2;
    max-width: 280px;
    opacity: 0.9;
    user-select: none;
}

/* Stats section below hero */
.stats {
    margin-top: 45px;
    display: flex;
    gap: 80px;
    justify-content: center;
    color: #aaa7b9;
}

.stats {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.stat-value {
    color: #b6abf7;
    font-size: 1.6rem;
    margin-bottom: 6px;
}

/*ABOUT US SECTION IS HERE */

#about-us-section {
    padding: 50px 50px 10px;
    /* border: 2px solid red; */
    width: 100%;
    background: url('../Imgs/18106012.jpg') no-repeat center center/cover;
    color: #333;
    line-height: 1.6;
}

/* Header with background image and overlay */
.about-us-header {
    background: url('../Imgs/guy-left-side-talking-colleagues-is-listening-him-group-young-freelancers-office-have-conversation-smiling.jpg') no-repeat center center/cover;
    height: 300px;
    color: white;
    text-align: center;
    padding: 80px 20px 40px 20px;
    position: relative;
    /* border: 2px solid blue; */
}

.about-us-header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.about-us-header h1,
.about-us-header p {
    position: relative;
    z-index: 2;
}

.about-us-header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.about-us-header p {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #fff;
}

/* Content container */
.about-us-content {
    max-width: 960px;
    margin: -80px auto 40px auto;
    /* Pull up to overlap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    padding: 25px;
    gap: 20px;
    position: relative;
    z-index: 3;
}

/* Text Content Styling */
.text-content {
    flex: 1;
    /* border: 2px solid gold; */
}

.text-content h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.text-content p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.text-content .highlight {
    font-weight: 700;
    font-style: italic;
    color: #222;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.text-content .btn-primary {
    margin-bottom: 0px;
    background: #a499e6;
    transition: 0.5s ease-out;
}

.text-content .btn-primary:hover {
    transform: translateY(-3px);
}

.text-content .btn-primary a {
    color: #fff;
}

/* Image styling */
.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    max-width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

/* SERVICE SECTION IS HERE */
#services {
    /* background: #0e0e0e; */
    background: #1b1938;
    color: #ffffff;
    line-height: 1.6;
    /* border: 2px solid yellow; */
}

.benefits-section {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px 30px;
    /* border: 2px solid yellowgreen; */
}

.section-badge {
    display: inline-block;
    background: #1c1c1c;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 0.8;
    font-family: "Montserrat", sans-serif;
}

.section-title {
    margin-top: 15px;
    font-size: 32px;
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
}

.benefits-grid {
    margin-top: 40px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.benefit-card {
    /* background: #121212; */
    background: #1b1938;
    padding: 30px;
    border-radius: 12px;
    /* border: 1px solid #1e1e1e; */
    border: 1px solid #b6abf7;
    transition: 0.3s ease;
    font-family: "Inter", sans-serif;
}

.benefit-card:hover {
    border-color: #444;
    transform: translateY(-4px);
    /* background-color: #2a284e; */
}

.benefit-card .icon {
    font-size: 26px;
    margin-bottom: 15px;
}

.benefit-card .icon i {
    color: #eaafc8;
}

.benefit-card h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.benefit-card p {
    opacity: 0.8;
    font-size: 15px;
    color: #8781a3;
}

/* bottom paragraphs */
.bt-paragraph {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* two columns */
    gap: 40px;
    align-items: start;
    font-family: "Inter", sans-serif;
}

/* Individual quote style */
.b-para {
    font-style: italic;
    font-size: 15px;
    line-height: 1.7;
    color: #efefef;
    opacity: 0.95;
    padding: 28px 20px;
    border-radius: 8px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.008));
    border: 1px solid rgba(255, 255, 255, 0.03); */
}

/* F A Q SECTION IS HERE */

#faq {
    min-height: 110vh;
    background: url('../Imgs/3433839.jpg') no-repeat center center/cover;
    /* background-color: #f8f9fa; */
    color: #333;
    line-height: 1.6;
    /* border: 2px solid darkred; */
}

/* Main Container */
.faq-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    /* border: 2px solid blue; */
}

/* Header Styling */
.faq-header {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #4a5568;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.subtitle {
    color: #a499e6;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Content Wrapper (Two-Column Layout) */
.content-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

/* FAQ List Styling (Left Column) */
.faq-list {
    height: 570px;
    flex: 2;
    min-width: 0;
    /* border: 2px solid red; */
}

.faq-item {
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-family: "Inter", sans-serif;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    cursor: pointer;
    font-weight: 600;
    color: #4a5568;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #f7fafc;
}

.toggle-icon {
    width: 20px;
    height: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

/* Creating the 'plus' icon using CSS */
.toggle-icon::before,
.toggle-icon::after {
    content: '';
    position: absolute;
    background-color: #a499e6;
    /* Teal color */
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-icon::before {
    width: 2px;
    height: 16px;
}

.toggle-icon::after {
    width: 16px;
    height: 2px;
}

/* Icon state when open */
.faq-item.active .toggle-icon {
    transform: rotate(45deg);
    /* Rotates the plus sign into an 'X' or minus sign */
}

.faq-item.active .toggle-icon::before {
    transform: translate(-50%, -50%) rotate(90deg);
    /* Keep the vertical bar as is, or remove for minus effect */
}

.faq-item.active .toggle-icon::after {
    width: 16px;
    /* Horizontal bar remains */
}

/* FAQ Answer Styling */
.faq-answer {
    padding: 0 20px;
    max-height: 0;
    /* Starts hidden */
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.faq-item.active .faq-answer {
    max-height: 200px;
    /* Adjust based on max content size */
    padding: 10px 20px 20px 20px;
}

.faq-answer p {
    font-size: 0.95rem;
    color: #718096;
    border-top: 1px solid #edf2f7;
    padding-top: 15px;
}

/* Right Column: Contact Card Styling */
.contact-card {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    /* border: 2px solid greenyellow; */
}

.contact-card img{
    height: 250px;
    margin-bottom: 20px;
    /* border: 1px solid green; */
}

.contact-card h2 {
    font-size: 1.8rem;
    color: #2d3748;
    margin-bottom: 10px;
}

.contact-card p {
    color: #718096;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.send-button {
    width: 100%;
    padding: 12px;
    background-color: #a499e6;
    /* Teal button color */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 188, 212, 0.3);
}

.send-button:hover {
    background-color: #00a4b7;
}

/* -- Why Choose Us SECTION START FROM HERE --> */
#chooseus{
    color: #000;
    background: #1b1938;
    padding: 40px;
}

.choose-us-section {
    display: flex;
    flex-wrap: nowrap;
    max-width: 90%;
    margin: 0px auto;
    height: 600px;
    /* border: 2px solid darkorange; */
}

/* Left column */
.left-column {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 2px solid red; */
}

/* Common box style */
.box {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
}

.box h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
}

.box p {
    margin: 0;
    font-size: 0.9rem;
    cursor: default;
}

/* Box 1 - dark green bg, white text */
.box1 {
    /* border: 2px solid red; */
    background-color: #a499e6;
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1 .icon-w i {
    width: 28px;
    height: 28px;
    stroke: white;
}

/* Box 2 - light background */
.box2 {
    background-color: #f3f3f3;
    color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2 .icon-w i {
    width: 28px;
    height: 28px;
    stroke: #000;
}

/* Center image */
.center-image {
    flex: 1;
    min-width: 300px;
    position: relative;
    overflow: hidden;
}

.center-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

/* Right column */
.right-column {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 2px solid blue; */
}

/* Top text - Why Choose Us */
.top-text {
    flex: 1;
    background-color: #f6f6f6;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.top-text h2 {
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.1;
}

.top-text h2 strong {
    font-weight: 700;
}

.top-text p {
    margin: 0;
    font-size: 1rem;
    max-width: 320px;
}

/* == GLASSMORPHISM BASE == */

.box,
.top-text {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.35s ease;
}

/* == HOVER EFFECTS == */
.box:hover,
.top-text:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #fff;
}

/* Icon pop-up hover */
.icon-w i {
    font-size: 28px;
    transition: 0.35s ease;
}

.box:hover .icon-w i,
.box4:hover .icon-w i,
.box3:hover .icon-w i {
    transform: scale(1.25);
}

/* == SMOOTH TRANSITION == */
.box,
.top-text {
    transition: all 0.35s ease-in-out;
}

/* Bottom boxes container */
.bottom-boxes {
    flex: 1;
    display: flex;
}

/* Each bottom box */
.bottom-boxes .box {
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    gap: 8px;
}

/* Box 3 - dark teal background */
.box3 {
    background-color: #a499e6;
}

.box3 .icon svg {
    width: 28px;
    height: 28px;
    stroke: white;
}

/* Box 4 - black background */
.box4 {
    background-color: #000;
}

.box4 .icon svg {
    width: 28px;
    height: 28px;
    stroke: white;
}

/* Icon styling */
.icon {
    margin-bottom: 12px;
}