/* -------EXPO SECTION IS HERE------- */

.expo-container{
    flex-direction: column;
    align-items: center;
}

.expo-card{
    width: 90%;
    height: auto;
}

.expo-card img{
    width: 100%;
}

.am5{
    flex-direction: column;
    padding: 20px;
}

.left-am5 ,
.right-am5{
    width: 100%;
    text-align: center;   
}

.right-am5 img{
    width: 100%;
    height: auto;
}

.left-am5 button{
    margin-top: 20px;
}

/* -------PERFORMANCE SECTION IS HERE------- */

.performance-c1 img{
    height: auto;
    width: 90%;
}

.performance-c2{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.performance-c1 .product-left,
.performance-c1 .product-right{
    width: 100%;
}

.performance-c2 .product-left img{
    height: auto;
    width: 100%;
}

.performance-c2 .product-right{
    margin-top: 20px;
}

.performance-c2 .product-right button{
    margin-top: 20px;
}