* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* -------HEADER SECTION IS HERE------- */

header {
    height: 260px;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./Img/Ryzen.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-color: black;
    opacity: 0.6;
}

#navbar .responsive {
    display: none;
}

#navbar #ryzen {
    display: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1rem 3rem;
}

.logo img {
    width: 6rem;
    cursor: pointer;
    transition: all 0.4s linear;
    box-shadow: rgba(255, 228, 129, 0.2) 0px 7px 29px 0px;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}

#navbar ul li {
    transition: all 0.4s ease;
    padding: 5px 10px;
    margin: 5px 8px;
    border-radius: 2px;
    cursor: pointer;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 2;
}

#navbar ul li:hover {
    transform: translateY(-10px);
    opacity: 0.8;
}

.button {
    padding: 10px 15px;
    background-color: rgb(255, 119, 0);
    animation: none;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}


/* ---------HOME SECTION IS HERE--------- */

#home h1 {
    padding: 31px 50px;
    font-size: 30px;
}

.home-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: #fff;
    padding: 2rem;
}

.home-right {
    flex-basis: 50%;
    padding: 2rem;
}

.home-left img {
    height: 20rem;
    border-radius: 5px;
}

.Btn {
    padding: 10px 12px;
    background: transparent;
    color: #fff;
    outline: none;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.4s ease;
}

.Btn:hover {
    transform: scale(1.1);
    border: 2px solid orange;
    background-color: orange;
}

/* -----------PRODUCT SECTION IS HERE--------- */

.p-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 300px;
    height: 100px;
}


.p-list li {
    list-style: none;
    color: black;
    cursor: pointer;
    transition: all 0.4s ease;
}

.p-list li a {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.p-list li:hover {
    transform: translateY(-10px);
}

/* STICKY NAVBAR */
#lisTing {
    /* overflow: hidden; */
    background-color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.product-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: #fff;
    padding: 40px;
}

.product-left {
    flex-basis: 50%;
}

.product-right {
    flex-basis: 40%;
}

.product-right img {
    height: 22rem;
    object-fit: contain;
}

.product-left img {
    height: 20rem;
    object-fit: contain;
    aspect-ratio: 4/2;
}

.sub-cont {
    position: relative;
    margin-top: 20px;
    padding: 40px;
}

.sub-cont::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./Img/ryzen-4.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
}

.sub-cont::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-color: black;
    opacity: 0.8;
}

.sub-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.sub-cont .product-right h2 {
    font-size: 40px;
}

.sub-cont .product-right p {
    font-size: 22px;
}

.sub-cont button {
    margin-top: 40px;
}

/* -------EXPO SECTION IS HERE------- */

#expo {
    border: 1px solid;
    background-color: black;
}

.expo-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.expo-card {
    color: #fff;
    width: 480px;
    height: 500px;
    margin: 10px;
}

.expo-card img {
    width: 29.5rem;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.expo-card h2 {
    margin-bottom: 10px;
}

/* AM5 CLASS IS HERE */

.am5 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.right-am5 img {
    height: 32rem;
}

.left-am5 button {
    margin-top: 50px;
}

/* -------PERFORMANCE SECTION IS HERE------- */

#performance {
    background-color: black;
    color: #fff;
}

.performance-c1 {
    text-align: center;
    padding: 30px 0;
}

.performance-c1 img {
    height: 85vh;
}

.performance-c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.performance-c2 .product-left img {
    height: 22rem;
}

/* ---------PLATFORM SECTION IS HERE--------- */

#platform {
    background-color: black;
    border: 1px solid;
}

#platform .expo-container .expo-card {
    height: 410px;
}

.pf-container {
    background-image: url('./Img/platform\ bg.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.pf-container .product-left img {
    margin-left: 80px;
    height: 15rem;
}

.pf-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px 80px;
}

.pf-container2 .product-right img {
    height: 15rem;
}

.pf-container3 {
    background-image: url('./Img/pf\ container\ 2\ bg.jpg');
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.pf-container3 .product-right img {
    height: 15rem;
}


/* <!---------FOOTER SECTION IS HERE---------> */

#footer {
    background-color: black;
    width: 100%;
}

.f-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 100px;
}

.f-right {
    width: 40%;
    border: 1px solid;
}

.f-right ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.f-right ul li {
    list-style: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.f-right ul li i {
    font-size: 20px;
    color: #fff;
}

.f-right ul li:hover {
    background-color: rgb(157, 159, 162);
    ;
}

.f-container .f-left button {
    font-size: 17px;
    padding: 15px;
    border-radius: 2px;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 80px 20px 80px;
}

.footer-item {
    height: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-item h2 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-item ul li {
    list-style: none;
    font-size: 15px;
    color: #9D9FA2;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.footer-item ul li:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-bottom {
    padding: 0 20px 20px 20px;
}

.footer-bottom ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom ul li {
    list-style: none;
}

.footer-bottom ul li::after {
    content: '|';
    color: #9D9FA2;
}

.footer-bottom ul li a,
.footer-bottom ul span a {
    text-decoration: none;
    color: #9D9FA2;
    font-size: 12px;
    margin: 0 12px;
    transition: all 0.3s ease;
}

.footer-bottom ul li a:hover,
.footer-bottom ul span a:hover {
    color: #fff;
    text-decoration: underline;
}

.copy-right {
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
}

/* SOME UTILITY CLASSES  */
.head {
    font-size: 30px;
    margin-bottom: 10px;
}

.para {
    font-size: 17px;
    margin: 20px 0;
}

.h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}