/* ----- GOOGLE FONTS LINK ----- */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
}

html,
body {
    width: 100%;
    overflow-x: hidden !important;
}

/* ---------- HEADER SECTION ----------- */
#navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    line-height: 5em;
    padding-top: 10px;
    background-color: whitesmoke;
}

.nav-left img {
    width: 180px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    margin-top: 10px;
    padding-left: 0;
    border-bottom: 1px solid black;
}

.list li {
    list-style: none;
    transition: ease-in-out 0.3s;
}

.list li a {
    padding: 0px 15px;
    font-size: 1.2rem;
    color: goldenrod;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.list li:hover {
    transform: translateY(-5px);
}

.list li a:hover {
    color: black;
}

#check {
    display: none;
}

.CheckBtn {
    display: none;
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: gold;
    line-height: 80px;
}

/* ---------- HOME SECTION ----------- */
#home {
    height: 100vh;
    width: 100%;
    background-color: goldenrod;
}


/* ---------- FOOTER SECTION ----------- */
#footer {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
}

.footer-bottom {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.875rem;
    background: #000;
    color: whitesmoke;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-bottom p span {
    color: gold;
    font-weight: 500;
}