/* Large screens */
@media screen and (max-width: 1160px) {

    /* HEADER SECTION */
    .list li {
        margin: 0 10px;
    }

}

/* Laptop screen */
@media screen and (max-width: 1024px) {

    /* HEADER SECTION */
    .logo {
        height: 135px;
    }

    .list {
        padding-left: 0px;
    }

    /* OUR-SERVICES SECTION */
    .services-container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* WHY CHOOSE US SECTION */
    .why-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-title {
        text-align: center;
    }
}

@media screen and (max-width: 984px) {

    /* F A Q SECTION */
    .faq-list {
        /* height: 650px; */
        height: auto;
    }
}

@media screen and (max-width: 923px) {

    /* HEADER SECTION */
    nav {
        padding: 0;
    }

    .list li a {
        font-size: 14px;
    }

    /* F A Q SECTION */
    .faq-container {
        margin: 20px;
        padding: 10px;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .faq-list,
    .contact-card {
        flex: none;
        width: 100%;
    }

    .contact-card {
        order: 2;
    }

    .contact-card img {
        height: 270px;
    }

    .faq-list {
        order: 1;
        /* height: 555px; */
    }
}

/* Tablets */
@media screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    /* STICKY SECTION */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #10061e;
        z-index: 1000;
        transition: top 0.3s;
    }

    /* HEADER SECTION */
    .logo {
        height: 120px;
    }

    nav {
        position: relative;
        overflow-x: hidden;
        padding: 10px 0 0 0;
        justify-content: space-around;
        border-bottom: 1px solid #795f42;
    }

    .CheckBtn {
        display: block;
        z-index: 1001;
    }

    .list {
        position: fixed;
        top: 131px;
        right: 0;
        width: 100vw;
        height: 70vh;
        background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transform: translateX(100vw);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
    }

    #check:checked~ul {
        transform: translateX(0);
    }

    .list li {
        margin: 0;
        padding: 12px 0;
    }

    .list li a {
        font-size: 18px;
        color: #795f42;
    }

    .list li:hover {
        transform: none;
    }

    /* HOME SECTION */
    #h-container {
        margin-top: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 5%;
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
            url('./Imgs/home-img.webp') center/cover no-repeat;
    }

    .h-content {
        max-width: 100%;
    }

    .h-content h2 {
        margin-bottom: 15px;
    }

    /* ABOUT-US SECTION */
    .about-container {
        flex-direction: column;
    }

    .about-content {
        padding: 30px;
        text-align: center;
        left: 0;
    }

    /* OUR-SERVICES SECTION */
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* TESTIMONIAL SECTION */
    .testimonial-container {
        flex-direction: column;
    }

    .testimonial-right {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 600px) {

    /* WHY CHOOSE US SECTION */
    .why-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .why-title {
        font-size: 50px;
        text-align: center;
    }

    .why-card {
        text-align: center;
    }

    .why-card p {
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) {

    /* F A Q Section */
    .faq-container {
        padding: 10px 10px 65px;
    }

    /* .faq-list {
        height: 590px;
    } */
}

@media screen and (max-width: 535px) {

    /* F A Q Section */
    /* .faq-list {
        height: 640px;
    } */

    .contact-card {
        padding: 10px;
    }

    .contact-card img {
        height: 250px;
    }
}

/* Mobile Navigation (Fully Fixed) */
@media screen and (max-width: 475px) {

    /* HOME SECTION */
    #h-container {
        /* min-height: 90vh; */
        padding: 20px 5%;
        text-align: center;
        justify-content: center;
    }

    .h-content {
        margin: 0 auto;
    }

    .h-content h1 {
        letter-spacing: 1px;
    }

    .h-content p {
        font-size: 14px;
    }

    .button-5 {
        width: 90%;
    }

    /* ABOUT-US SECTION */
    #about-section {
        padding: 50px 5%;
    }

    .about-content h2 {
        font-size: 22px;
    }

    .about-content p {
        font-size: 14px;
    }

    .about-btn {
        width: 100%;
    }

    /* OUR-SERVICES SECTION */
    .services-container {
        grid-template-columns: 1fr;
    }

    .service-img {
        width: 130px;
        height: 130px;
    }

    /* F A Q Section */
    .faq-item.active .faq-answer {
        padding: 10px;
    }

    .contact-card {
        margin-top: 0;
        padding: 15px;
    }

    .contact-card img {
        height: 200px;
    }

    /* TESTIMONIAL SECTION */
    .testimonial-left {
        text-align: center;
    }

    .t-btn {
        width: 100%;
    }

}

/* Small Mobile Screens */
@media screen and (max-width: 425px) {

    /* HEADER SECTION */
    .logo {
        height: 100px;
    }

    /* HOME SECTION */
    #h-container {
        height: 90vh;
        margin-top: 110px;
    }

    /* F A Q Section */
    /* .faq-list {
        height: 700px;
    } */

    .contact-card {
        padding: 10px;
    }
}

@media screen and (max-width: 376px) {

    /* HEADER SECTION */
    .cg-list {
        height: 55vh;
        top: 6.6rem;
    }

    .h-list li a {
        font-size: 1.2rem;
    }

    .logo img {
        height: 60px;
    }

    .checkBtn {
        font-size: 25px;
    }

    /* F A Q Section */
    .faq-question {
        padding: 15px 10px;
    }

    .contact-card img {
        height: 170px;
    }

    .send-button {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {

    /* .faq-list{
        height: auto;
    } */
    .contact-card img {
        height: 150px;
    }
}