/* ------ Header is here ------ */
.logo {
    margin-left: 35px;
}

.right-nav {
    margin-right: 35px;
}

.h-list li {
    padding: 5px;
    margin: 10px;
}

/* ------- ABOUT-US IS HERE ------ */
.right-about {
    margin-left: 35px;
}

/* ------- OUR CHEF. IS HERE ------ */
.chef-sub-contain {
    height: 100vh;
}

.left-chef {
    padding: 10px;
}

.left-chef p {
    line-height: normal;
}

/* ----- SERVICE SECTION IS HERE ------ */
.menu-card {
    width: 320px;
}

/* CONTACT-US SECTION IS HERE */
.contact-box {
    width: 80%;
}

@media screen and (max-width: 769px) {

    /* Header is here */
    .h-list {
        width: 100%;
        height: 70vh;
        background-color: #ffd07e;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 9.5rem;
        left: 100%;
        transition: all 1s ease-in;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
        margin-right: 30px;
    }

    #check:checked~ul {
        left: 0%;
    }

    #navbar {
        position: relative;
        z-index: 1;
    }

    .logo {
        margin-left: 50px;
    }

    /* Home section is here  */
    #home {
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
        padding: 20px 20px 0 20px;
    }

    .left-home h1 {
        font-size: 30px;
        margin: 10px 0px;
    }

    .left-home .h-para {
        font-size: 14px;
    }

    #Btn {
        font-size: 12px;
    }

    .right-home img {
        height: auto;
        max-width: 50%;
        margin-top: 20px;
    }

    .right-home img:hover {
        transform: scale(1);
        box-shadow: none;
    }

    /* About-Us section is here */
    #aboutUs {
        padding: 0 20px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .left-about {
        margin-bottom: 20px;
    }

    .left-about img {
        width: 58%;
    }

    .right-about {
        margin-left: 0;
    }

    .right-about p {
        padding: 10px;
    }

    /* Menu section is here */
    #our-menu {
        padding: 0 20px;
    }

    .menu-img img {
        width: 100%;
    }

    /* Our-chef section is here */
    .chef-sub-contain {
        flex-direction: column;
        height: auto;
    }

    .left-chef {
        flex-basis: 100%;
        padding: 20px;
        text-align: center;
    }

    .left-chef hr {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }

    .right-chef {
        flex-basis: 100%;
    }

    .right-chef .d-block {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Service section is here */
    .serv-header h1 {
        font-size: 2.5rem;
        letter-spacing: 3px;
    }

    .serv-header h1 span {
        font-size: 1.4rem;
        letter-spacing: 5px;
    }

    .menu-card {
        width: 100%;
        max-width: 500px;
    }

    .serv-header p:before,
    .serv-header p:after {
        width: 40px;
    }

    /* Contact-US section is here */
    .contact-box {
        width: 85%;
        margin: 50px auto;
        padding-left: 40px;
    }

    .input-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .input-row .input-group {
        flex-basis: 45%;
    }

    /* Some Utility classes */
    .heading {
        font-size: 30px;
    }
}

@media screen and (max-width: 475px) {

    /* ------ Header is here ------ */
    .logo img {
        height: 75px;
    }

    .logo h3 {
        font-size: 1.5rem;
    }

    /* ------ Home Section is here ------ */
    #home {
        margin-top: 15px;
    }

    .left-home h1 {
        margin-top: 20px;
        font-size: 25px;
    }

    /* ------ About us Section is here ------ */
    .about-head p strong {
        font-size: 15px;
    }

    .sub-head {
        font-size: 14px;
        padding: 10px;
    }

    .right-about p {
        font-size: 14px;
        line-height: 25px;
    }

    /* ------ Our Chef Section is here ------ */
    #chef {
        margin-top: 30px;
    }

    .left-chef h3 {
        font-size: 25px;
    }

    .left-chef p {
        font-size: 15px;
    }

    /* Service section is here */
    .serv-header h1 {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .serv-header h1 span {
        font-size: 1.1rem;
        letter-spacing: 3px;
    }

    .serv-header p {
        font-size: 1rem;
        padding: 0 10px;
    }

    .serv-header p:before,
    .serv-header p:after {
        width: 20px;
    }

    .menu-content {
        padding: 20px;
    }

    .menu-title {
        font-size: 1rem;
    }

    .menu-description {
        font-size: 1rem;
    }

    /* Contact Us section is here */
     .partBtn {
        width: 110px;
        padding: 8px;
        font-size: 13px;
    }

    /* Footer section is here */
    .footer-item h2 {
        font-size: 22px;
    }

    footer .footerPara {
        font-size: 13px;
    }

    .input-row {
        flex-direction: column;
    }

    .input-group {
        margin: 10px 0px;
    }

    .footer-section {
        flex-wrap: wrap;
    }

    .social ul {
        justify-content: space-evenly;
    }

    /* Utility Class */
    .heading {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 376px) {

    /* ------ Header is here ------ */
    .h-list {
        height: 55vh;
        top: 6.6rem;
    }

    .h-list li a {
        font-size: 1.2rem;
    }

    .logo img {
        height: 60px;
    }

    .logo h3 {
        font-size: 1.2rem;
    }

    .checkBtn {
        font-size: 25px;
    }

    /* ------ Home Section is here ------ */
    .left-home .col-red p {
        font-size: 14px;
    }

    .left-home h1 {
        font-size: 18px;
    }

    .left-home .h-para {
        font-size: 12px;
    }

    /* ------ Our Chef Section is here ------ */
    .chef-sub-contain {
        padding: 0px;
    }

    .left-chef {
        padding: 10px;
    }

    .left-chef h3 {
        font-size: 18px;
    }

    .left-chef p {
        font-size: 12px;
    }

    /* ------ Contact Us Section is here ------ */
    .contact-box h2 {
        font-size: 20px;
    }

    .contact-box p {
        font-size: 14px;
        padding-right: 15px;
    }

    label {
        font-size: 16px;
    }

    placeholder {
        font-size: 10px;
    }

    /* ------ Footer Section is here ------ */
    .footer-item h2 {
        font-size: 18px;
    }

    .footer-item h2::after {
        top: 2rem;
    }

    .footer-item a {
        font-size: 14px;
    }

    #scroll-on-top {
        bottom: 4rem;
        right: 5%;
        height: 32px;
        width: 32px;
    }

    /* Utility Class */
    .heading {
        font-size: 22px;
        margin-bottom: 10px;
    }
}