*{
    margin: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.slider-section {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid red;
  }
  
  .swiper {
    width: 100%;
    height: 80vh;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 2px solid blue;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    animation: zoom 6s ease-in-out infinite;
  }
  
  /* Zoom animation */
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  