/* -------------------------------- */
@media screen and (max-width: 1374px) {
    .nav-left {
        margin-left: 0;
    }
}

/* -------------------------------- */
@media screen and (max-width: 1294px) {
    .list li a {
        padding: 0 8px;
    }
}

/* -------------------------------- */
@media screen and (max-width: 1197px) {
    .nav-left {
        margin-top: 15px;
    }

    .nav-left img {
        height: 70px;
    }

    .list li a {
        font-size: 1.1rem;
    }
}

/* -------------------------------- */
@media screen and (max-width: 1102px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        line-height: 3rem;
    }

    .list li a {
        padding: 0 15px;
    }

    .nav-left img {
        height: 85px;
    }
}

/* -------------------------------- */
@media screen and (max-width: 1024px) {

    /* ----- FOOTER SECTION IS HERE ----- */
    .footer-main {
        flex-direction: column;
        padding: 1rem;
    }

    .footer-image {
        padding: 1rem 0;
        border-bottom: none;
    }

    .footer-image iframe {
        width: 80%;
        height: 300px;
    }

    .footer-content {
        flex-direction: row;
        padding: 1rem 0;
    }

    .contact-info {
        margin-bottom: 2rem;
    }

    .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .link-section {
        width: 45%;
    }

    .social-icons {
        margin-top: 4rem;
    }

    .footer-bottom {
        padding: 1rem;
        text-align: center;
    }

    .payment-logos img {
        width: 250px;
    }

    /* --------WHATSAPP FLOAT BUTTON--------- */
    .whatsapp-float {
        right: 35px;
    }
}

/* -------------------------------- */
@media (max-width: 992px) {

    /* ABOUT US SECTION IS HERE */
    .main {
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        width: 100%;
        padding: 20px 10px;
    }

    .right {
        display: contents;
    }

    .left h1 {
        font-size: 1.8rem;
    }

    .left h2 {
        font-size: 1.1rem;
    }

    .card {
        width: 100%;
        max-width: 500px;
    }
}

/* -------------------------------- */
@media screen and (max-width: 805px) {
    body {
        overflow-x: hidden;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: whitesmoke;
        z-index: 1000;
        transition: top 0.3s;
    }

    #navbar {
        flex-direction: row;
        border-bottom: 1px solid grey;
        padding: 10px;

    }

    .list {
        width: 100%;
        height: 35vh;
        background-color: #190f0f;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 7.6rem;
        left: 100%;
        transition: all 1s ease-in;
        border-bottom: none;
    }

    .list li a {
        color: #fff;
    }

    #check {
        display: none;
    }

    .CheckBtn {
        display: block;
        margin-top: 10px;
    }

    #check:checked~ul {
        left: 0%;
    }

    /* ------ HOME SECTION IS HERE ----- */

    #home {
        height: 85vh;
        margin-top: 15%;
    }

    .left-txt p {
        font-size: 35px;
    }
}

/* -------------------------------- */
@media screen and (max-width: 769px) {
    #home {
        height: 85vh;
    }

    .flip-card {
        max-width: 90vw;
    }

    .why-choose-section {
        flex-direction: column;
        padding: 30px 15px;
    }

    .why-choose-image h2 {
        text-align: center;
    }

    .why-choose-image {
        margin-top: 30px;
    }

    /* --------WHATSAPP FLOAT BUTTON--------- */
    .whatsapp-float {
        height: 45px;
        width: 45px;
        right: 26px;
    }

    .whatsapp-float i {
        font-size: 30px;
    }
}

/* -------------------------------- */
@media screen and (max-width: 640px) {

    .list {
        top: 7rem;
        height: 48vh;
    }

    .nav-left img {
        height: 70px;
    }

    #home {
        height: 65vh;
    }

    .left-txt h1 {
        padding: 10px 15px;
    }

    .left-txt p {
        font-size: 30px;
    }

    /* ----- FOOTER SECTION IS HERE ----- */
    .link-section {
        width: 100%;
    }

    .footer-main {
        padding: 0.75rem;
    }

    .contact-item i {
        margin-bottom: 0.3rem;
    }

    .social-icons {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .footer-image iframe {
        height: 250px;
    }

    .footer-bottom {
        font-size: 0.8rem;
    }

    .payment-logos img {
        width: 200px;
    }
}

/* -------------------------------- */
@media (max-width: 600px) {

    /* ABOUT US SECTION IS HERE */
    .left h1 {
        font-size: 1.5rem;
    }

    .left h2 {
        font-size: 1rem;
    }

    .card h2 {
        font-size: 1rem;
    }

    .card h3 {
        font-size: 0.95rem;
    }

    .abt-btn {
        width: 100%;
    }

    /* --------WHATSAPP FLOAT BUTTON--------- */
    .whatsapp-float {
        height: 40px;
        width: 40px;
        right: 18px;
    }

    .whatsapp-float i {
        font-size: 25px;
        top: 2px;
    }
}

/* -------------------------------- */
@media screen and (max-width: 475px) {

    .list {
        top: 6.2rem;
    }

    .list li a {
        font-size: 1rem;
    }

    .nav-left img {
        height: 60px;
    }

    .CheckBtn {
        font-size: 25px;
    }

    /* ------ HOME SECTION IS HERE ----- */
    #home {
        padding: 30px 15px;
        background-position: center;
        height: 50vh;
        margin-top: 20%;
    }

    .left-txt h1 {
        font-size: 12px;
        padding: 6px 8px 15px;
    }

    .left-txt p {
        font-size: 20px;
        padding: 5px 0px 15px;
    }

    .H-btn {
        font-size: 12px;
        padding: 8px 16px;
    }

    .H-btn a {
        font-size: 12px;
    }

    /* ----- SERVICE SECTION ----- */
    #services h1 {
        font-size: 25px;
    }

    .flip-card {
        width: 100%;
    }

    /* ----- FOOTER SECTION ----- */
    .footer-content {
        padding: 0.5rem 0;
        flex-direction: column;
    }

    .footer-image iframe {
        height: 200px;
    }

    .social-icons {
        justify-content: flex-start;
        gap: 2rem;
    }
}

/* -------------------------------- */
@media screen and (max-width: 426px) {

    .nav-left img {
        height: 50px;
    }

    .list {
        top: 6.2rem;
    }

    .list li a {
        font-size: 0.9rem;
    }

    /* ------ HOME SECTION IS HERE ----- */
    #home {
        height: auto;
        margin-top: 26%;
    }

    .left-txt h1 {
        font-size: 10px;
    }

    .left-txt p {
        font-size: 16px;
    }

}

/* -------------------------------- */
@media screen and (max-width: 376px) {

    /* ----- SERVICE SECTION ----- */
    #services h1 {
        font-size: 20px;
    }

    /* --------WHATSAPP FLOAT BUTTON--------- */

    .whatsapp-float,
    #scroll-on-top {
        height: 32px;
        width: 32px;
    }

    .whatsapp-float i {
        font-size: 18px;
        top: -4px;
    }
}

/* -------------------------------- */
@media screen and (max-width: 321px) {
    .nav-left img {
        height: 45px;
    }

    .list li a {
        font-size: 0.8rem;
    }

    #home {
        margin-top: 32%;
    }

    .left-txt p {
        font-size: 13px;
    }

    /* --------WHATSAPP FLOAT BUTTON--------- */
    .whatsapp-float {
        right: 12px;
        background-color: #25d36687;
        box-shadow: none;
    }

    #scroll-on-top {
        background-color: #6ca7fe7d;
        height: 28px;
        width: 28px;
        bottom: 2rem;
    }
}