@media screen and (max-width: 1374px) {
    .nav-left {
        margin-left: 0;
    }
}

@media screen and (max-width: 1294px) {
    .list li a {
        padding: 0 8px;
    }
}

@media screen and (max-width: 1197px) {
    .nav-left {
        margin-top: 15px;
    }

    .nav-left img {
        height: 80px;
        width: 170px;
    }

    .list li a {
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 1102px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        line-height: 3rem;
    }

    .list li a {
        padding: 0 10px;
    }

    .nav-left img {
        height: 100px;
        width: 180px;
    }
}

@media screen and (max-width: 944px) {
    .list li a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 805px) {
    body {
        overflow-x: hidden;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: whitesmoke;
        z-index: 1000;
        transition: top 0.3s;
    }

    #navbar {
        flex-direction: row;
        border-bottom: 1px solid grey;
        padding: 10px;

    }

    .list {
        width: 100%;
        height: 46vh;
        background-color: #190f0f;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 7.6rem;
        left: 100%;
        transition: all 1s ease-in;
        border-bottom: none;
    }

    .list li a {
        color: #fff;
    }

    #check {
        display: none;
    }

    .CheckBtn {
        display: block;
        margin-top: 10px;
    }

    #check:checked~ul {
        left: 0%;
    }

    /* ------ HOME SECTION IS HERE ----- */

    #home {
        height: 77vh;
        margin-top: 19%;
    }

    .left-txt p {
        font-size: 35px;
    }
}

@media screen and (max-width: 769px) {
    #home {
        height: 78vh;
    }
}

@media screen and (max-width: 475px) {

    .list {
        top: 6.5rem;
    }

    .nav-left img {
        height: 90px;
        width: 160px;
    }

    .CheckBtn {
        font-size: 25px;
    }

    /* ------ HOME SECTION IS HERE ----- */
    #home {
        padding: 30px 15px;
        background-position: center;
        height: 50vh;
        margin-top: 30%;
    }

    .left-txt h1 {
        font-size: 12px;
        padding: 6px 8px 15px;
    }

    .left-txt p {
        font-size: 20px;
        padding: 5px 5px 15px;
    }

    .H-btn {
        font-size: 12px;
        padding: 8px 16px;
    }

    .H-btn a {
        font-size: 12px;
    }
}


@media screen and (max-width: 426px) {

    .list {
        top: 4.2rem;
    }

    /* ------ HOME SECTION IS HERE ----- */
    #home {
        height: auto;
        margin-top: 33%;
    }

    .left-txt h1 {
        font-size: 10px;
    }

    .left-txt p {
        font-size: 16px;
    }
}

@media screen and (max-width: 321px) {
    #home {
        margin-top: 45%;
    }

    .left-txt p {
        font-size: 13px;
    }

    .H-btn a {
        font-size: 10px;
    }
}