* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#terms,
#privacy {
    padding: 30px 50px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px;
}

h1,
h2 {
    color: #00529B;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22px;
}

p {
    margin: 0 0 15px;
}

ul {
    margin: 0 0 15px 20px;
}

/* FOOTER SECTION IS HERE */

footer {
    display: flex;
    flex-direction: column;
}

.f-cont {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.f-cont p {
    margin: 0;
}

.f-cont p span {
    color: #00529B;
}

footer {
    margin-top: auto;
    width: 100%;
}

/* RESPONSIVE SECTION IS HERE */
@media screen and (max-width: 475px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 376px) {
    #terms,
    #privacy {
        padding: 30px 15px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }
}