/* ----- GOOGLE FONTS LINK ----- */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    width: 100vw;
}

/* ----- HEADER SECTION ------ */
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    z-index: 1000;
    transition: top 0.3s;
} */

#navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    line-height: 6rem;
    padding-top: 10px;
}

.nav-left {
    margin: 12px 0 0 40px;
}

.nav-left img {
    height: 110px;
    width: 200px;
    cursor: pointer;
}

.list {
    display: flex;
    margin-top: 20px;
    padding-left: 0;
    border-bottom: 1px solid rgb(0, 60, 239);
}

.list li {
    list-style: none;
    transition: ease-in-out 0.3s;
}

.list li a {
    padding: 0px 15px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.list li:hover {
    transform: translateY(-5px);
}

.list li a:hover {
    color: rgb(0, 139, 181);
}

#check {
    display: none;
}

.CheckBtn {
    display: none;
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: rgb(0, 21, 255);
    line-height: 80px;
}

/* ----- HOME SECTION ------ */
#home{
    width: 100%;
    height: 76vh;
    border: 2px solid red;

}

.fs-img {
    background-image: url('./Imgs/New\ young-woman-pharmacist-pharmacy.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 76vh;
    width: 100%;
}